# Customer Segmentation with K-means Clustering

In this notebook we are trying to understand the order patterns of customers and group them into clusters. We'll use this dataset to visualise different aspects of the data and work onwards.
Dataset represents real customers & orders data between November 2018 - April 2019 and it is pseudonymized for confidentiality.

### Libraries

In [1]:
%matplotlib inline
%config InlineBackend.figure_format='retina'

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots
from sklearn.cluster import KMeans

### Data Investigation

In [2]:
#load data
data=pd.read_csv("/kaggle/input/customerorders/Orders - Analysis Task.csv")
data.head()

,product_title,product_type,variant_title,variant_sku,variant_id,customer_id,order_id,day,net_quantity,gross_sales,discounts,returns,net_sales,taxes,total_sales,returned_item_quantity,ordered_item_quantity
0,DPR,DPR,100,AD-982-708-895-F-6C894FB,52039657,1312378,83290718932496,04/12/2018,2,200.0,-200.00,0.00,0.0,0.0,0.0,0,2
1,RJF,Product P,28 / A / MTM,83-490-E49-8C8-8-3B100BC,56914686,3715657,36253792848113,01/04/2019,2,190.0,-190.00,0.00,0.0,0.0,0.0,0,2
2,CLH,Product B,32 / B / FtO,68-ECA-BC7-3B2-A-E73DE1B,24064862,9533448,73094559597229,05/11/2018,0,164.8,-156.56,-8.24,0.0,0.0,0.0,-2,2
3,NMA,Product F,40 / B / FtO,6C-1F1-226-1B3-2-3542B41,43823868,4121004,53616575668264,19/02/2019,1,119.0,-119.00,0.00,0.0,0.0,0.0,0,1
4,NMA,Product F,40 / B / FtO,6C-1F1-226-1B3-2-3542B41,43823868,4121004,29263220319421,19/02/2019,1,119.0,-119.00,0.00,0.0,0.0,0.0,0,1

We can see what the data looks like but 5 rows of data barely gives us an idea about it, lets dive deeper and take a look at the summary.

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70052 entries, 0 to 70051
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   product_title           70052 non-null  object
 1   product_type            70052 non-null  object
 2   variant_title           70052 non-null  object
 3   variant_sku             70052 non-null  object
 4   variant_id              70052 non-null  int64
 5   customer_id             70052 non-null  int64
 6   order_id                70052 non-null  int64
 7   day                     70052 non-null  object
 8   net_quantity            70052 non-null  int64
 9   gross_sales             70052 non-null  float64
 10  discounts               70052 non-null  float64
 11  returns                 70052 non-null  float64
 12  net_sales               70052 non-null  float64
 13  taxes                   70052 non-null  float64
 14  total_sales             70052 non-null  float64
 15  returned_item_quantity  70052 non-null  int64
 16  ordered_item_quantity   70052 non-null  int64
dtypes: float64(6), int64(6), object(5)
memory usage: 9.1+ MB

In [4]:
data.describe()

,variant_id,customer_id,order_id,net_quantity,gross_sales,discounts,returns,net_sales,taxes,total_sales,returned_item_quantity,ordered_item_quantity
count,7.005200e+04,7.005200e+04,7.005200e+04,70052.000000,70052.000000,70052.000000,70052.000000,70052.000000,70052.000000,70052.000000,70052.000000,70052.000000
mean,2.442320e+11,6.013091e+11,5.506075e+13,0.701179,61.776302,-4.949904,-10.246051,46.580348,9.123636,55.703982,-0.156098,0.857277
std,4.255079e+12,6.223201e+12,2.587640e+13,0.739497,31.800689,7.769972,25.154677,51.802690,10.305236,61.920557,0.369190,0.380820
min,1.001447e+07,1.000661e+06,1.000657e+13,-3.000000,0.000000,-200.000000,-237.500000,-237.500000,-47.500000,-285.000000,-3.000000,0.000000
25%,2.692223e+07,3.295695e+06,3.270317e+13,1.000000,51.670000,-8.340000,0.000000,47.080000,8.375000,56.227500,0.000000,1.000000
50%,4.494514e+07,5.566107e+06,5.522207e+13,1.000000,74.170000,0.000000,0.000000,63.330000,12.660000,76.000000,0.000000,1.000000
75%,7.743106e+07,7.815352e+06,7.736876e+13,1.000000,79.170000,0.000000,0.000000,74.170000,14.840000,89.000000,0.000000,1.000000
max,8.422212e+13,9.977409e+13,9.999554e+13,6.000000,445.000000,0.000000,0.000000,445.000000,63.340000,445.000000,0.000000,6.000000

We can see a bit more about our dataset now. We can obsever the data size, samples, data types, and so on. Looking at the description we can see that the mean ordered_item_quantity is less than 1. We can observe taxes and net sales in negative and the minimum net_quantity in negative which means a lot of items are being returned. We'll take more look into that.
For the time being lets take orders where net_quantity is greater than 0.

In [5]:
print("Number of rows with -ve net quantity:", 
      data[data.net_quantity < 0].shape[0])
# exclude not sold/ordered SKUs from the dataset
data = data[data["ordered_item_quantity"] > 0]

Number of rows with -ve net quantity: 10715